* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

h3 {
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2rem;
    font-weight: bold;
}

#green {
    background-color: green;
    color: white;
}

#red {
    background-color: red;
    color: white;
}

#blue {
    background-color: blue;
    color: white;
}

button {
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin: 5px;
}

button {
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    color: black;
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
}

button:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
}